html,
body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #aaa;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body#raynpage {
  margin: 0;
}

.rp {
  width: 100%;
  padding: 2ex 6ex;
  text-align: justify;
  background: #000;
  color: #aaa;
}

.rp p,
.rp pre,
.rp ul,
.rp ol,
.rp dl {
  margin: 0 0 20px 0;
}

.rp h2 {
  margin: 10px 0 0 0;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
}

.rp > p,
.rp > pre,
.rp > ul,
.rp > ol,
.rp > dl {
  margin-left: 8ex;
}

.rp h1,
.rp h2,
.rp h3,
.rp h4 {
  clear: left;
  color: #fff;
}

.rp pre {
  margin-bottom: 20px;
  white-space: pre;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.4em;
  color: #aaa;
}

.ascii-cat {
  text-align: center;
  white-space: pre;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.4em;
}

.rp img {
  display: block;
  margin: auto;
}

.rp a {
  color: #fff;
}

ol.rayn-decor,
ol.rayn-decor li {
  margin: 3px 0 10px 0;
  padding: 0;
  float: left;
  width: 33%;
  list-style-type: none;
  text-transform: uppercase;
  color: #666;
  letter-spacing: 1px;
}

ol.rayn-decor {
  width: 100%;
}

ol.rayn-decor li.tl {
  text-align: left;
}

ol.rayn-decor li.tc {
  text-align: center;
  letter-spacing: 4px;
}

ol.rayn-decor li.tr {
  text-align: right;
  float: right;
}
