html,
body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #aaa;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body#raynpage {
  margin: 0;
}

.rp {
  max-width: 90ch;
  margin: 0 auto;
  padding: 2ex;
  text-align: justify;
  background: #000;
  color: #aaa;
}

.rp p,
.rp pre,
.rp ul,
.rp ol,
.rp dl {
  margin: 0 0 20px 0;
}

.rp h2 {
  margin: 10px 0 0 0;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
}

.rp h2 + p,
.rp h2 + ul,
.rp h2 + dl,
.rp h2 + ol,
.rp p.shifted {
  margin-left: 3ex;
}

.rp p.no-shift {
  margin-left: 0;
}

.rp h3 {
  margin: 0 0 0 0;
}

.rp dt {
  margin: 0;
  clear: left;
}

.rp dt.flush {
  float: left;
  width: 8ex;
}

.rp dd {
  margin: 0 0 0 9ex;
}

.rp h1,
.rp h2,
.rp h3,
.rp h4 {
  clear: left;
  color: #fff;
}

.rp pre {
  margin-bottom: 20px;
  white-space: pre;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.42857142857143;
  color: #aaa;
}

.rp pre + h2,
.rp pre + h3 {
  margin-top: 22px;
}

.rp h2 + pre,
.rp h3 + pre {
  margin-top: 5px;
}

.rp img {
  display: block;
  margin: auto;
}

.rp h1.rayn-title {
  display: none;
}

.rp,
.rp code,
.rp tt,
.rp kbd,
.rp samp,
.rp h3,
.rp h4 {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.42857142857143;
}

.rp h1 {
  font-size: 20px;
  line-height: 2;
  color: #fff;
}

.rp code,
.rp strong,
.rp b {
  color: #fff;
}

.rp em,
.rp var,
.rp u {
  color: #ddd;
}

.rp pre code {
  color: #ddd;
}

.rp a,
.rp a:link,
.rp a:hover,
.rp a code,
.rp a pre,
.rp a tt,
.rp a kbd,
.rp a samp {
  color: #fff;
}

ol.rayn-decor,
ol.rayn-decor li {
  margin: 3px 0 10px 0;
  padding: 0;
  float: left;
  width: 33%;
  list-style-type: none;
  text-transform: uppercase;
  color: #666;
  letter-spacing: 1px;
}

ol.rayn-decor {
  width: 100%;
}

ol.rayn-decor li.tl {
  text-align: left;
}

ol.rayn-decor li.tc {
  text-align: center;
  letter-spacing: 4px;
}

ol.rayn-decor li.tr {
  text-align: right;
  float: right;
}
